<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav-right">
                <a href="{{ url_for('login') }}"> inicio</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="panel-container">
            <nav>
                <ul class="admin-nav">
                    <li><a href="{{ url_for('admin_ventas') }}">Ventas</a></li>
                    <li><a href="{{ url_for('admin_proveedores') }}">Proveedores</a></li>
                    <li><a href="{{ url_for('admin_productos') }}">Productos</a></li>
                    <li><a href="{{ url_for('add_product_form') }}">Agregar producto</a></li>
                    <li><a href="{{ url_for('add_supplier_form') }}">Agregar proveedor</a></li>
                    <li><a href="{{ url_for('lista_facturas') }}">Facturas</a></li>
                </ul>
                
            </nav>
        </div>
    </main>
</body>
</html>
