<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Panel de Administración</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('mostrar_clientes') }}">Clientes</a></li>
            <li><a href="{{ url_for('mostrar_proveedores') }}">Proveedores</a></li>
            <li><a href="{{ url_for('mostrar_productos') }}">Productos</a></li>
        </ul>
    </nav>
</body>
</html>